<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">I've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">I've been working as a freelancer in the field of graphical designing as well as motion graphics for a very very long time. And apart from that i've developed some more skills such as webdevelopment as well as android development. So you can have your product all in by a single person, and yeah that's "ME"!</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
